:root {
  --main-bg-color1: #000;
  --main-bg-color2: #222;
  --main-bg-color3: #444;
  --main-bg-color4: #666666;
  --main-bg-color5: #888888;
  --main-bg-color6: #aaaaaa;
  --main-bg-color7: #cccccc;
  --main-bg-color8: #eeeeee;
  --main-bg-color9: #ffffff;

}
body {
  margin: 0;
  background-color: var(--main-bg-color8);
}

body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
}

/* ========================== Header ====================================== */
.header {
  display: flex;
  background-color: var(--main-bg-color6);
  height: 104px;
  justify-content: space-around;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 18%;
}

.header-logo {
  background-color: var(--main-bg-color9);
  height: 3.5em;
  width: 3.5em;
  transform: rotate(-15deg);
  border-radius: 5px;
}

.header-logo-name {
  height: 80%;
  width: 70%;
}

.header-logo-name div{
  background-color: var(--main-bg-color9);
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
}

.header-logo-name div:last-child{
  height: 20%;
  width: 70%;
}

.header-middle {
  display: flex;
  height: 80%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  background-color: var(--main-bg-color9);
  width: 12%;
  height: 30%;
}

.nav-item:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  border-radius: 5px;
  background-color: var(--main-bg-color4);
}

.nav-item:last-child div {
  height: 50%;
  width: 50%;
  background-color: var(--main-bg-color9);
}

.nav-item:last-child div:last-child {
  width: 25%;
  
}

.header-right {
  height: 80%;
  display: flex;
  width: 20%;
  align-items: center;
}

.header-right input {
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 8px;
}

/* ================================== title section =========================================== */

.dont-miss {
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 430px;
  left: 35%;
  top: 140px;
}

.dont-miss h1 {
  display: inline;
  background-color: var(--main-bg-color9);
  margin: 0 auto 0 auto;
  font-size: 25px;
}

.titles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-card {
  height: 430px;
  padding-top: 30%;
  padding-left: 11%;
  padding-bottom: 10%;
  cursor: pointer;
}

.title-card:nth-child(2) {
  background-color: var(--main-bg-color4);
}

.title-card:nth-child(3) {
  background-color: var(--main-bg-color5);
}

.title-card:nth-child(4) {
  padding-top: 10%;
  background-color: var(--main-bg-color3);
}

.title-card:nth-child(5) {
  padding-top: 10%;
  background-color: var(--main-bg-color4);
}

.title-profile div:nth-child(1) {
  width: 60px;
  height: 60px;
  background-color: var(--main-bg-color7);
  margin-right: 30px;
  transform: rotate(-15deg);
  transform-origin: 0% 100%;
  transition-duration: 0.5s;
  border-radius: 5px;
  border: 5px solid var(--main-bg-color9);
}

.title-profile div:nth-child(1):hover {
  transform: rotate(0);
}

.title-profile div:nth-child(2) {
  width: 200px;
  height: 20px;
  background-color: var(--main-bg-color9);
}

.title {
  margin-top: 50px;
  margin-bottom: 55px;
}

.title div:first-child , .title div:nth-child(2) {
  background-color: var(--main-bg-color9);
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
}

.title div:nth-child(3) {
  background-color: var(--main-bg-color9);
  width: 200px;
  height: 15px;
}

.hashtag {
  width: 300px;
  justify-content: space-between;
}

.hashtag div {
  background-color: var(--main-bg-color9);
  width: 25%;
  height: 20px;
}

.title-card img {
  width: 40px;
  height: 20px;
  margin-top: 100px;
}

/* ================================== Articles section =========================================== */

.articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
  justify-items: center;
  align-items: center;
  background-color: var(--main-bg-color8);

}

.article-card {
  height: 500px;
  width: 80%;
  background-color: var(--main-bg-color8);
  padding-top: 30px;
  padding-left: 50px;
  margin-right: 50px;
}
.article-card:hover {
  transform: scale(1.2);
  background-color: var(--main-bg-color9);
}

.article-card:nth-child(5){
  background-color: var(--main-bg-color3);
  padding-top: 30px;
  padding-left: 100px;
  border-radius: 10px;
}

.article-card h1{
  width: 80%;
  height: 50px;
  background-color: var(--main-bg-color1);
}

.article-card p:nth-child(2) {
  width: 30%;
  height: 10px;
  background-color: var(--main-bg-color4);
}

.article-card p:nth-child(n+3) {
  width: 70%;
  height: 13px;
  background-color: var(--main-bg-color6);
}

.article-card img {
  width: 30px;
  height: 30px;
  margin-top: 200px;
}

.latest-articles {
  text-transform: uppercase;
  text-align: center;
  border-bottom: 5px solid var(--main-bg-color2);
  font-size: 15px;
  font-weight: 100;
  cursor: pointer;
  width: 220px;
  margin: 150px auto;
  padding-bottom: 10px;
}

/* ========================================= Jump to table of content ======================================== */

.encourage {
  width: 100%;
  background-color: var(--main-bg-color3);
  text-align: center;
  padding-top: 70px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: space-between;
  color: var(--main-bg-color9);
  
}

.encourage p:first-child {
  text-transform: uppercase;
}

.encourage div:nth-child(2) {
  height: 50px;
  width: 60%;
  background-color: var(--main-bg-color9);
  margin-top: 40px;
}

.encourage div:nth-child(3) {
  margin-top: 10px;
  margin-bottom: 50px;
  height: 50px;
  width: 45%;
  background-color: var(--main-bg-color9);
}

.encourage p:nth-child(4) {
  width: 60%;
  height: 20px;
  background-color: var(--main-bg-color9);
}

.encourage p:nth-child(5) {
  width: 50%;
  height: 20px;
  margin-top: 0;
  background-color: var(--main-bg-color9);
  margin-bottom: 50px;
}

.encourage div:nth-child(6) {
  width: 30%;
  height: 60px;
  cursor: pointer;
  background-color: var(--main-bg-color9);
  color: var(--main-bg-color3);
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  border-radius: 10px;
  margin-bottom: 60px;
}

.encourage div:nth-child(6):hover {
  color: var(--main-bg-color5);
}

.encourage div:last-child {
  background-color: var(--main-bg-color4);
  height: 550px;
  width: 550px;
  border: none;
  border-radius: 50%;
}

.encourage div:last-child div {
  background-color: var(--main-bg-color2);
  height: 450px;
  width: 300px;
  border-radius: 0;
  margin: auto;
  margin-left: 150px;
  margin-top: 50px;
}

/* ========================================= Person of the Week ======================================== */

.person-of-the-week {
  padding: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.person-of-the-week div {
  width: 200px;
  height: 200px;
  background-color: var(--main-bg-color4);
  border: 5px solid var(--main-bg-color1);
  border-radius: 10px;
  transform: rotate(-15deg);
  transform-origin: 0% 100%;
  transition-duration: 0.5s;
  margin-right: 50px;
}

.person-of-the-week div:hover {  
  transform: rotate(0);
}

.person-of-the-week article p:first-child {
  width: 300px;
  height: 20px;
  background-color: var(--main-bg-color6);
  margin-bottom: 50px;
}

.person-of-the-week article {
  height: 300px;
}

.person-of-the-week article p:nth-child(n+2) {
  width: 900px;
  height: 20px;
  background-color: var(--main-bg-color6);
}

/* ========================================= More Articles Section ======================================== */

.more-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.more-articles div {
padding: 20px;
justify-content: center;
}

.more-articles div div{
  width: 30px;
  height: 30px;
  background-color: var(--main-bg-color4);
  margin-right: 30px;
  transform: rotate(-15deg);
  transform-origin: 0% 100%;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 5px solid var(--main-bg-color1);
  align-self: flex-start;
  margin-top: 25px;
}

.more-articles div div:hover {
  transform: rotate(0);
}

.more-articles div article p:first-child {
  width: 150px;
  height: 10px;
  background-color: var(--main-bg-color4);
}

.more-articles div article h1 {
  width: 300px;
  height: 20px;
  background-color: var(--main-bg-color2);
}

.more-articles div article p:nth-child(n+3) {
  width: 500px;
  height: 15px;
  background-color: var(--main-bg-color6);
}

/* ========================================= Design Systems ======================================== */

.design {
  width: 100%;
  padding: 60px;
  background-color: var(--main-bg-color3);
  justify-content: space-between;
}

.design div:first-child {
  width: 60%;
}

.design div:first-child p:first-child {
  width: 30%;
  height: 15px;
  margin: 0;
  color: var(--main-bg-color8);
}

.design div:first-child h3 {
  width: 50%;
  font-size: 40px;
  color: var(--main-bg-color8);
  text-decoration: underline;
}

.design div:first-child p:nth-child(n+3) {
  color: var(--main-bg-color9);
  font-size: 15px;
}

.design div:first-child div {
  background-color: var(--main-bg-color9);
  border: none;
  border-radius: 10px;
  color: var(--main-bg-color2);
  width: 45%;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  text-align: center;
}

.design div:first-child div:hover {
  color: var(--main-bg-color3);
}

.design div:nth-child(2) {
  width: 18%;
  height: 400px;
  margin-top: -100px;
  background-color: var(--main-bg-color5);
  transform: rotate(-15deg);
  transform-origin: 0% 100%;
  transition-duration: 0.4s;
}

.design div:nth-child(2):hover {
  transform: rotate(0);
}

/* ========================================= web technologies ======================================== */