:root {
  --main-bg-color1: #000;
  --main-bg-color2: #222;
  --main-bg-color3: #444;
  --main-bg-color4: #666666;
  --main-bg-color5: #888888;
  --main-bg-color6: #aaaaaa;
  --main-bg-color7: #cccccc;
  --main-bg-color8: #eeeeee;
  --main-bg-color9: #ffffff;

}
body {
    margin: 0;
}

.flex {
  display: flex;
  align-items: center;
}

/* ========================== Header ====================================== */
.header {
  display: flex;
  background-color: var(--main-bg-color6);
  height: 104px;
  justify-content: space-around;
  align-items: center;
}

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  width: 18%;
}

.header-logo {
  background-color: var(--main-bg-color9);
  height: 3.5em;
  width: 3.5em;
  transform: rotate(-15deg);
  border-radius: 5px;
}

.header-logo-name {
  height: 80%;
  width: 70%;
}

.header-logo-name div{
  background-color: var(--main-bg-color9);
  height: 50%;
  width: 100%;
  margin-bottom: 10px;
}

.header-logo-name div:last-child{
  height: 20%;
  width: 70%;
}

.header-middle {
  display: flex;
  height: 80%;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  background-color: var(--main-bg-color9);
  width: 12%;
  height: 30%;
}

.nav-item:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  border-radius: 5px;
  background-color: var(--main-bg-color4);
}

.nav-item:last-child div {
  height: 50%;
  width: 50%;
  background-color: var(--main-bg-color9);
}

.nav-item:last-child div:last-child {
  width: 25%;
  
}

.header-right {
  height: 80%;
  display: flex;
  width: 20%;
  align-items: center;
}

.header-right input {
  width: 100%;
  height: 60%;
  border: none;
  border-radius: 8px;
}

/* ================================== title section =========================================== */

.dont-miss {
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 430px;
  left: 35%;
  top: 140px;
}

.dont-miss h1 {
  display: inline;
  background-color: var(--main-bg-color9);
  margin: 0 auto 0 auto;
  font-size: 2em;
}

.titles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title-card {
  height: 430px;
  padding-top: 30%;
  padding-left: 11%;
  padding-bottom: 10%;
  cursor: pointer;
}

.title-card:nth-child(2) {
  background-color: var(--main-bg-color4);
}

.title-card:nth-child(3) {
  background-color: var(--main-bg-color5);
}

.title-card:nth-child(4) {
  padding-top: 10%;
  background-color: var(--main-bg-color3);
}

.title-card:nth-child(5) {
  padding-top: 10%;
  background-color: var(--main-bg-color4);
}

.title-profile div:nth-child(1) {
  width: 60px;
  height: 60px;
  background-color: var(--main-bg-color7);
  margin-right: 30px;
  transform: rotate(-15deg);
  transform-origin: 0% 100%;
  transition-duration: 0.5s;
  border-radius: 5px;
  border: 5px solid var(--main-bg-color9);
}

.title-profile div:nth-child(1):hover {
  transform: rotate(0);
}

.title-profile div:nth-child(2) {
  width: 200px;
  height: 20px;
  background-color: var(--main-bg-color9);
}

.title {
  margin-top: 50px;
  margin-bottom: 55px;
}

.title div:first-child , .title div:nth-child(2) {
  background-color: var(--main-bg-color9);
  width: 400px;
  height: 40px;
  margin-bottom: 20px;
}

.title div:nth-child(3) {
  background-color: var(--main-bg-color9);
  width: 200px;
  height: 15px;
}

.hashtag {
  width: 300px;
  justify-content: space-between;
}

.hashtag div {
  background-color: var(--main-bg-color9);
  width: 25%;
  height: 20px;
}

.title-card img {
  width: 40px;
  height: 20px;
  margin-top: 100px;
}

/* ================================== Articles section =========================================== */

.articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  padding: 5px;
  justify-items: center;
  align-items: center;
  background-color: var(--main-bg-color8);

}

.article-card {
  height: 500px;
  width: 80%;
  background-color: var(--main-bg-color8);
  padding-top: 30px;
  padding-left: 50px;
  margin-right: 50px;
}
.article-card:hover {
  transform: scale(1.2);
  background-color: var(--main-bg-color9);
}

.article-card:nth-child(5){
  background-color: var(--main-bg-color3);
  padding-top: 30px;
  padding-left: 100px;
  border-radius: 10px;
}

.article-card h1{
  width: 80%;
  height: 50px;
  background-color: var(--main-bg-color1);
}

.article-card p:nth-child(2) {
  width: 30%;
  height: 10px;
  background-color: var(--main-bg-color4);
}

.article-card p:nth-child(n+3) {
  width: 70%;
  height: 13px;
  background-color: var(--main-bg-color6);
}

.article-card img {
  width: 30px;
  height: 30px;
  margin-top: 200px;
}